.header__logo {
    width: 170px;
    height: 50px;
}
  
header {
    padding-top: 33px;
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 22px;
}

.logo {
    float: left;
    width: 40px;
    height: 40px;
}

.header__burger {
    position: absolute;
    right: 20px;
    top: 8px;
}
  
.nav-link {
    position: relative;
    font-size: 18px;
    line-height: 24.59px;
    text-transform: uppercase;
    text-decoration: none;
    color: #121212;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    margin-left: 50px;
}
  
.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #000000;
    width: 0;
    transition: width 0.3s ease-in;
}
  
.nav-link:hover::before {
    width: 100%;
}
  
.nav-link:hover {
    opacity: 0.5;
}
  
@media (max-width: 1199px) {
    header {
        width: 100%;
        padding-right: 15px;
        padding-left: 17px;
    }
    .nav {
        display: none;
    }
}