.profesion {
    width: 100%;
}

.profesion-title {
    font-size: 50px;
    color: orangered;
    margin-bottom: 30px;
    margin-top: 30px;
}

.profesion-image {
    color: black;
}

.profesion-text {
    font-size: 32px;
    line-height: 61px;
    margin-bottom: 30px;
    letter-spacing: -0.03cm;
}

.btn-profesion {
    background-color: orangered;
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.btn-nazad {
    text-decoration: none;
    color: orangered;
    padding-left: 10px;
    font-size: 22px;
    line-height: 30px;
}

.btn-nazad:hover {
    opacity: 0.5;
}